<div class="contact mb-4">
    <div class="container pt-3">
        <div class="text-center pt-4" style="color: rgb(44, 62, 80);">
            <h2 class="text-uppercase mb-3 fs-1 fw-bolder">
                portfolio component
            </h2>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line me-3" style="background-color: rgb(44, 62, 80);"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3" style="background-color: rgb(44, 62, 80);"></div>
            </div>
        </div>
        <!-- class="ng-valid ng-dirty ng-touched" add form + input -->
        <form action="" class="w-50 p-3 mx-auto mt-5 ">
            <label for="userName" class="position-relative top-0 d-none">userName :</label>
            <input type="text" id="userName" class="form-control border-0 border-bottom py-3 position-relative "
                placeholder="userName" name="userName">
            <label for="userAge" class="position-relative top-0 d-none">userAge :</label>
            <input type="text" id="userAge" class="form-control border-0 border-bottom py-3 position-relative "
                placeholder="userAge" Age="userAge">
            <label for="userEmail" class="position-relative top-0 d-none">userEmail :</label>
            <input type="text" id="userEmail" class="form-control border-0 border-bottom py-3 position-relative "
                placeholder="userEmail" Email="userEmail">
            <label for="userPassword" class="position-relative top-0 d-none">userPassword :</label>
            <input type="text" id="userPassword" class="form-control border-0 border-bottom py-3 position-relative "
                placeholder="userPassword" Password="userPassword">
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
        </form>
    </div>
</div>