<div class="portfolio mt-4 pt-4">
    <div class="text-center pt-4" style="color: rgb(44, 62, 80);">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">
            portfolio component
        </h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3" style="background-color: rgb(44, 62, 80);"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-3" style="background-color: rgb(44, 62, 80);"></div>
        </div>
    </div>
    <div class="container mb-4 pt-4">
        <div class="row g-5 ">
            <div class="col-lg-4 col-md-6" (click)="open('poert1.png')">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="assets/images/poert1.png" alt="">
                    <div
                        class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" (click)="open('port2.png')">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="assets/images/port2.png" alt="">
                    <div
                        class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" (click)="open('port3.png')">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="assets/images/port3.png" alt="">
                    <div
                        class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" (click)="open('poert1.png')">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="assets/images/poert1.png" alt="">
                    <div
                        class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" (click)="open('port2.png')">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="assets/images/port2.png" alt="">
                    <div
                        class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" (click)="open('port3.png')">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="assets/images/port3.png" alt="">
                    <div
                        class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isclicked==true"class="model position-fixed start-0 top-0 end-0 bottom-0 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center">
        <div class="item position-relative d-flex align-items-center justify-content-between mt-4">
            <img [src]="imagesrc" alt="" class="w-50 mt-3 mx-auto rounded-3">
            <i (click)="close()" id="close" class="fa-regular fa-circle-xmark fs-1 opacity-50" style="cursor: pointer;"></i>

        </div>
    </div>
</div>